# Copyright 2024 Illumio, Inc. All Rights Reserved.

defaultNamespace: "illumio-cloud"
replicaCount: 1
priorityClassName: ""
image:
  repository: "ghcr.io/illumio/cloud-operator"
  tag: "0.0.1"
  pullPolicy: IfNotPresent

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  create: true
  name: "illumio-cloud-sa"
  annotations: {}
  automount: true

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

clusterCredsSecret:
  clientId: ""
  clientSecret: ""
  disableSecretCreation: false
  forceSecretCreation: true

onboardingSecret:
  clientId: ""
  clientSecret: ""

service:
  clusterIP: ""

cilium:
  # The namespaces in which Cilium may be deployed.
  # cloud-operator will search for the Hubble Relay service in each namespace,
  # in this order.
  namespaces:
    - kube-system
    - gke-managed-dpv2-observability

openshift:
  # The namespace in which OVN-k is deployed.
  # cloud-operator uses this to determine whether OVN-k is deployed, in which
  # case the IPFIX collector on UDP port 4739 is enabled.
  ovnkNamespace: "openshift-ovn-kubernetes"

  # The list of IP address CIDRs of the cluster's worker nodes.
  # Used to restrict access from only those nodes to the IPFIX collector on UDP
  # port 4739 in the NetworkPolicy.
  #
  # For example:
  # workerNodeCidrs:
  #   - "10.1.0.0/24"
  #   - "10.2.0.0/24"
  #
  # If empty, defaults to allowing ingress traffic to UDP port 4739 from any
  # address. This is a safe default only on clusters that are not running
  # OpenShift with OVN-k, because port 4739 is not open in that case.
  workerNodeCidrs: []

falco:
  enabled: false
  namespace: falco
  falco:
    http_output:
      enabled: true
      keep_alive: true
      url: "http://illumio-cloud-operator.illumio-cloud.svc.cluster.local:5000/"
      insecure: true
    json_output: true
    json_include_tags_property: false
    json_include_output_property: true
    buffered_outputs: true
  customRules:
    rules-networking.yaml: |-
      - macro: outbound_corp
        condition: >
          (((evt.type = connect and evt.dir=<) or
            (evt.type in (sendto,sendmsg) and evt.dir=< and
             fd.l4proto != tcp and fd.connected=false and fd.name_changed=true)) and
           (fd.typechar = 4 or fd.typechar = 6) and
           (fd.ip != "0.0.0.0" and fd.net != "127.0.0.0/8") and
           (evt.rawres >= 0 or evt.res = EINPROGRESS))
      - rule: kubernetes outbound connection
        desc: A pod in namespace attempted to connect to the outer world
        condition: outbound_corp and k8s.ns.name != ""
        output: "illumio_network_traffic (time=%evt.time.iso8601 srcip=%fd.cip dstip=%fd.sip srcport=%fd.cport dstport=%fd.sport proto=%fd.l4proto procname=%proc.name ipversion=%fd.type)"
        priority: WARNING

env:
  # The URL of the HTTPS proxy to be used by cloud-operator to connect to
  # Illumio CloudSecure. If not set, no proxy will be used.
  httpsProxy: ""

  # The UDP port on which cloud-operator is receiving IPFIX messages.
  # Currently, only OVS/OVN-k flow templates are supported, and cloud-operator
  # only listens on this port if it detects at startup that OVN-k is installed.
  # UDP 4739 is the standard port for IPFIX over UDP and should not be changed.
  ipfixCollectorPort: 4739

  # The API URL used by cloud-operator to onboard itself if onboardingSecret
  # is set and clusterCredsSecret is not set.
  # This variable may only be modified for testing.
  onboardingEndpoint: "https://cloud.illum.io/api/v1/k8s_cluster/onboard"

  # The interval between log entries with statistics about
  # the flows and resource mutations that were sent to the server.
  statsLogPeriod: "30m"

  # The intervals between keepalive messages sent over each stream.
  streamKeepalivePeriods:
    configuration: "10s"
    kubernetesResources: "10s"
    kubernetesNetworkFlows: "10s"
    logs: "10s"

  # The duration that a stream be in a connected state for it to be considered
  # successfully connected.
  streamSuccessPeriods:
    auth: "2h"
    connect: "1h"

  # If true, disables the verification of TLS certificates of API endpoints.
  # This variable may only be modified for testing.
  tlsSkipVerify: false

  # The API URL used by cloud-operator to authenticate itself after it has been
  # onboarded.
  # This variable may only be modified for testing.
  tokenEndpoint: "https://cloud.illum.io/api/v1/k8s_cluster/authenticate"

  # If true, enables verbose debugging.
  verboseDebugging: false
