name: Helm Lint and Unit Tests

on:
  push:
    paths:
      - "cloud-operator/**"
  pull_request:
    paths:
      - "cloud-operator/**"

jobs:
  helm-lint-and-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: "v3.19.0"

      - name: Install helm-unittest plugin
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Run Helm lint and unit tests
        run: |
          helm lint cloud-operator # Validates the chart, including schema validation
          helm template my-release cloud-operator --namespace test-namespace
          helm unittest cloud-operator
